.story_form_container {
  display: block;
  justify-content: center;
  width: 100%;
  max-width: 800px; /* 적당한 최대 너비 */
  min-height: 100px;
  height: auto;
  margin: 50px auto; /* 중앙 정렬 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  padding: 20px; /* 포스트 리스트 내부 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
}

/* 레이블과 입력 필드 스타일링 */
.label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

.textInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box; /* 입력 필드 크기가 부모 요소에 맞춰지도록 함 */
  font-size: 1.5em;
}
.textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  height: 100px;
  border-radius: 5px;
  font-size: 2em;
}

.submit_btn {
  background-color: #5c6bc0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit_btn:hover {
  background-color: #3f51b5;
}

.btn {
  background-color: #5c6bc0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.btn:hover {
  background-color: #3f51b5;
}
